.overlay {
  margin-bottom: 3%;
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  /* background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%); */
  background-image: url("https://images.unsplash.com/photo-1605879192407-d2879dee4fe4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
  text-align: center;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  z-index: -1;
}

h2 {
  font: 300 1em/1.5 "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 80px;
  margin-bottom: 30px;
  /* background-color: #333;
    opacity: 10%; */
  color: whitesmoke;
}

p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}
