/* 
.closebutton {
  height: fit-content;
  width: fit-content;
  display: inline-block;
  position: absolute;
  right: 0;
  background: none;
  border:none;

}
#heart {
color: gray;
  height: fit-content;
  width: fit-content;
  display: inline-block;
  position: absolute;
  right: 7%;
  background: none;
  border:none;
}
.coffie{
  color: black;
}
.commentsbutton {
  margin-top: 2%;
}
.cardtitle {
  color: gray;
}
.combad {
padding: 20px;
} */
